<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task04</title>
    <style>
        td, th {
            padding: 3px;
            border: 1px solid grey;
        }
    </style>
</head>
<body style="font-family: 'Palatino Linotype', serif; max-width: 60%; padding-left: 30px;">
<h2>TASK 04</h2>
<hr><br>
<p>
    <a th:href="@{/admin/create}" style="margin-left: 30px;">CREATE USER</a>
</p>
<table style="width: 100%; border-spacing: 0; border: 1px solid grey;">
    <tr>
        <th>id</th>
        <th>login</th>
        <th>password</th>
        <th>name</th>
        <th>roles</th>
        <th>action</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td style="text-align: center;" th:text="${user.getId()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getName()}"></td>
        <td>
            <div th:each="role : ${user.getRoles()}" th:text="${role.getRole()}"></div>
        </td>
        <td style="text-align: center;" th:switch="${user.getLogin()}">
            <p th:case="'admin'"></p>
            <p th:case="'user'"></p>
            <p th:case="*">
                <a th:href="${'/admin/update/' + user.getId()}">edit</a>&nbsp;&nbsp;
                <a th:href="${'/admin/delete/' + user.getId()}">delete</a>
            </p>
        </td>
    </tr>
</table>
<br><br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
</body>
</html>
