<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <title>Predesign task</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Project name</a>
    <a class="nav-link text-light" href="/logout">Logout</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" th:classappend="${!isUser} ? active" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin</a>
                    <a class="nav-link" th:classappend="${isUser} ? active" href="/user" >User</a>
                </div>
            </div>
        </div>
        <div class="col offset-2 pt-5" th:insert="${isUser} ? ~{user :: userPage} : ~{admin :: adminPanel}">
        </div>
    </div>
</div>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/myscript.js"></script>
</body>
</html>